.TopBar {
    height: 102px;
    background-color: #5C04F4;
    padding-left: 35px;
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    color: white;
}


.Signature, .Info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Info {
    margin-right: 65px;
}


.Signature .Company {
    font-size: 48px;
    /* font-family: 'Ubuntu', sans-serif; */
}

